<a href="https://colab.research.google.com/github/Analyzewithasim/Python-for-Data-Analyst/blob/main/Python_Day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Day 1**

`First python program`

In [ ]:
print ("Hello World")

Hello World

In [ ]:
print (2 + 1)

3

*Python Comments*

In [ ]:
#This is a comment

In [ ]:
print ("Hello World") #This is a comment

Hello World

In [ ]:
#print ("Hello World")
print ("Python is a programming language")

Python is a programming language

*Multiline Comments*

In [ ]:
#This is a comment 1
#This is a comment 2
#This is a comment 3
print ("Hello World")

Hello World

In [ ]:
"""This is a comment 1"""
print ("Hello World")

Hello World

# **Python Day 2**

**Variables & Operators in Python**

*A Python Variable is a container that stores values. Python is not a “statically typed " language. We do not need to declare variables before using them or declare their type. A Python variable is a name given to a memory location. It is the basic unit of storage in a program.*

**Creating a Variable**

In [ ]:
x = 5
y = "Apple"
print (x)
print (y)

5
Apple

**Many values to multiple variable**

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
x=y=z= "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

**Python Output variable**

*The Python print () function used to output variable*

In [ ]:
x = "Python"
y = "is"
z = "Awesome"
print(x,y,z)

Python is Awesome

# **Data Types in Python**

Python has the following data types built-in by default:

> **Text Type:** str - “Orange”
>

> **Numeric Types:** int, float, complex
>

> **Sequence Types:** list, tuple, range
>

> **Mapping:** dict
>

> **Set Types:** set, frozensets
>

> **Boolean Type:** bool
>

> **Binary Types:** bytes, bytearray, memoryview
>

In [ ]:
x = 2
print (x)
print (type(x))

2
<class 'int'>

In [ ]:
y = 2.5
print (y)
print (type(y))

2.5
<class 'float'>

In [ ]:
z = "Hello Students"
print (z)
print (type(z))

Hello Students
<class 'str'>

In [ ]:
a = 2+4j
print(a)
print(type(a))

(2+4j)
<class 'complex'>

In [ ]:
b = [1,2,3,4]
print(b)
print(type(b))

[1, 2, 3, 4]
<class 'list'>

In [ ]:
c = (1,2,3)
print(c)
print(type(c))

(1, 2, 3)
<class 'tuple'>

In [ ]:
d = {1,2,3}
print(d)
print(type(d))

{1, 2, 3}
<class 'set'>

In [ ]:
e = {"a":1, "b":2}
print(e)
print(type(e))

{'a': 1, 'b': 2}
<class 'dict'>

*%whos - is a "magic command" that displays information about all variables currently defined in the active workspace, including their names, types, and sizes.*

# **Operators in Python**

*In Python programming, Operators are general symbols used to perform operations on values and variables. They are standard symbols used for logical and arithmetic operations. In this article, we will look into different types of Python operators.*

- **Arithmetic Operators:**

Python **Arithmetic operators** are used to perform basic mathematical operations like **addition, subtraction, multiplication** and **division**.



*   **Addition**

In [ ]:
a = 5
b = 3
print(a+b)

8

In [ ]:
a = 5
b = 3.4
print(a+b)

8.4

In [ ]:
a = 3+5j
c = 3
print(a+b)

(6.4+5j)

In [ ]:
a = "Hello "
b = "World"
print(a+b)

Hello World

In [ ]:
a = 2.34
b = 3.456
c = 2+7j
d = 3
e = a+b+c+d
print(e)
print(type(e))

(10.796+7j)
<class 'complex'>



*   **Substraction**

In [ ]:
a = 5
b = 3
print(a-b)

2

In [ ]:
a = 5
b = 3.4
print(a-b)

1.6

In [ ]:
a = 6
b = 18
c = a-b
print(c)
print(type(c))

-12
<class 'int'>

In [ ]:
x = 12.345
y = 890.12
print(y-x)

877.775

In [ ]:
a = 12+5j
b = 8+3j
print(a-b)

(4+2j)

In [ ]:
a = 112.34
b = 2
c = 5+2j
print((a+b)-c)

(109.34-2j)

In [ ]:
a = "Hello"
b = "World"
print(a-b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'



*   **Multiplication**

In [ ]:
a = 10
b = 5
print(a*b)

50

In [ ]:
c = 2.345
a = 345.678
print(c*a)

810.61491

In [ ]:
x = 2+3j
y = 4+5j
print(x*y)

(-7+22j)

In [ ]:
a = 12
b = 3.467
c = 2+5j
e = a*b*c
print(e)
print(type(e))

(83.208+208.01999999999998j)
<class 'complex'>



*   **Division**

In [ ]:
a = 12
b = 4
print (a/b)

3.0

In [ ]:
a = 12.5689
b = 2.35684
print(a/b)

5.332945808794826

In [ ]:
a = 6+9j
c = 3
print(a/c)

(2+3j)

In [ ]:
a = 12
b = 3
c = 12+15j
d = (a/b)
print(c/d)

(3+3.75j)



*  **Modulous**

In [ ]:
a = 12
b = 3
print(a%b)

0

In [ ]:
a = 19
b = 3
print(a%b)

1

In [ ]:
b = 5.36
c = 2.8
print(b%c)

2.5600000000000005

In [ ]:
b = 12+36j
c = 3
print(b%c)

TypeError: unsupported operand type(s) for %: 'complex' and 'int'

In [ ]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        19
b          complex    (12+36j)
c          int        3
d          float      4.0
e          complex    (83.208+208.01999999999998j)
x          complex    (2+3j)
y          complex    (4+5j)
z          str        Hello Students



*   **Exponent**

In [ ]:
a = 4
print(a**3)

64

In [ ]:
a = 12.56
print(a**6)

3925887.3741833675

In [ ]:
a = True
b = False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [ ]:
print(a and b)

False

In [ ]:
print (a or b)

True

In [ ]:
print(not(a))

False

**Q. Find the area of rectangle with Length = 12cm and Breadth = 6cm**

In [ ]:
length = 12
print("The length of the rectangle is 12cm")
breadth = 6
print("the breadth of the rectangle is 6 cm")
area = (length * breadth)
print("The are of the rectangle is ", area)

The length of the rectangle is 12cm
the breadth of the rectangle is 6 cm
The are of the rectangle is  72

In [ ]:
#Solve the equation
x = ((234.678 * 89/6) - (745.23**2) + (87.23**45.6))
print(x)

3.1215032029794266e+88

# **Python Day 3**

### **Built-in Functions:**

*The Python interpreter has a number of functions that are always available for use. These functions are called built-in functions. For Example, the print( ) function prints the given object to the standard output device (screen) or to the text stream file.*

***There are a total of 68 built-in function***


*   **abs ( )** — *Absolute function Returns

the absolute value of a number. The argument may be an integer, a floating-point number, or an object implementing*

In [ ]:
x = abs(-7.25)
print(x)

7.25

In [ ]:
y = abs(-8)
print(y)

8

In [ ]:
x = abs(3+5j)
print (x)

5.830951894845301


**Bin( )**

*Binary Function Convert an integer number to a binary string prefixed with “0b”.*

In [ ]:
x = bin(10)
print (x)

0b1010

In [ ]:
y = bin(36)
print(y)

0b100100

In [ ]:
z = bin(56)
print(z)

0b111000

**bytes( )**

*Return a new “bytes” object which is an immutable sequence of integers in the range 0 <= x < 256.*

In [ ]:
x = bytes(4)
print(x)

b'\x00\x00\x00\x00'

In [ ]:
y = bytes(16)
print(y)

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'

**chr( )**

*Character Function Return the string representing a character whose Unicode code point is the integer i. *

In [ ]:
x = chr(97)
print(x)

a

In [ ]:
x = chr(98)
print(x)

b

In [ ]:
x = chr(99)
print(x)

c

**complex( )**

*Complex Function Convert a single string or number to a complex number, or create a complex number from real and imaginary parts.*

In [ ]:
x = complex(3, 5)
print(x)

(3+5j)

In [ ]:
y = complex(2.5, 3.96)
print(y)

(2.5+3.96j)

In [ ]:
x = complex('3+5j')
print(x)

(3+5j)

In [ ]:
x = complex('2')
print(x)

(2+0j)

**float( )**

*Return a floating-point number constructed from a number or a string.*

In [ ]:
x = float(3)
print(x)

3.0

In [ ]:
y = float("3.500")
print(y)

3.5

**int( )**

*Return an integer object constructed from a number or a string, or return 0 if no arguments are given.*

In [ ]:
x = int("12")
print(x)

12

**str( )**

*Return a str version of object.*

In [ ]:
a = str("2568")
print(a)
print(type(a))

2568
<class 'str'>

### **Help function in python**

*The Python help function is used to display the documentation of modules, functions, classes, and keywords.*

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the front of the string and works to the end.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

**Input fucntion in Python**

*The input() function allows user input.*

In [ ]:
x = input("Enter your Name ")
print("Hello, " + x)

Enter your Name Asim
Hello, Asim

In [ ]:
x = input("Enter your age: ")
print("Your age is " + x)
print(type(x))

Enter your age: 26
Your age is 26
<class 'str'>

***Q. Write a program to calculate the percentage of a student in the subjects English, Hindi, Maths, Science, and Social***

In [ ]:
x = input("Enter the name of a student ")
a = input("Enter the marks scored in English ")
b = input("Enter the marks scored in Hindi ")
c = input("Enter the marks scored in Maths ")
d = input("Enter the marks scored in Science ")
e = input("Enter the marks scored in Social ")
p = int(a)+int(b)+int(c)+int(d)+int(e)
n = (p/500)*100
print("Percent score by the student ", x, "is ", n, "%")

Enter the name of a student Umair
Enter the marks scored in English 78
Enter the marks scored in Hindi 85
Enter the marks scored in Maths 96
Enter the marks scored in Science 84
Enter the marks scored in Social 74
Percent score by the student  Umair is  83.39999999999999 %

# **Control Flow Statements in Python**

- **IF Statement:**

*The if statement is the most simple decision-making statement. It is used to decide whether a certain statement or block of statements will be executed or not*

In [ ]:
i = 10
if (i<15):
  print("10 is less than 15")
print("I am outside the if condition")

10 is less than 15
I am outside the if condition

**If the percentage is above 90 Then assign an A Grade If the percentage is above 75 Then assign B Grade If the percentage is above 65 Then assign a C grade.**

In [ ]:
a = int(input("Enter the marks scored by student "))

if a>90:
  print("A Grade")
if a>=75 and a<90:
  print("B Grade")
if a>=65 and a<75:
  print("C grade")

Enter the marks scored by student 85
B Grade

- **IF ELSE Statement:**

***Write a program to display hello if number entered by a user is a multiple of 5 else print bye***

In [ ]:
a = int(input("Enter the Number "))
if a%5==0:
  print("Hello")
else:
  print("Bye")

Enter the Number 25
Hello

# **User Defined Functions**

**Creating & Calling a user defined function**

In [1]:
def my_function():
  print("Hello from a function")
my_function()

Hello from a function

**Making the result of the student**

In [2]:
def contact():
  print("Contact details:")
  print("Delhi Public School ")
  print("Bangalore, Karnataka")
  print("8446155614")

In [4]:
for i in range(4):
  a = input("Enter the name of a student ")
  b = int(input("Maths Marks: "))
  c = int(input("Science Marks: "))
  d = int(input("Social Marks: "))
  contact()

Enter the name of a student Asim
Maths Marks: 65
Science Marks: 75
Social Marks: 89
Contact details:
Delhi Public School
Bangalore, Karnataka
8446155614
Enter the name of a student Umair
Maths Marks: 95
Science Marks: 65
Social Marks: 30
Contact details:
Delhi Public School
Bangalore, Karnataka
8446155614
Enter the name of a student Safwan
Maths Marks: 55
Science Marks: 45
Social Marks: 85
Contact details:
Delhi Public School
Bangalore, Karnataka
8446155614
Enter the name of a student Abdulhaque
Maths Marks: 65
Science Marks: 66
Social Marks: 67
Contact details:
Delhi Public School
Bangalore, Karnataka
8446155614

### **Arguments**

Information can be passed into functions as arguments

Arguments are specified after the function name, inside the parantheses(). You can add as many arguments as you want, just separate them with a comma

In [7]:
def my_function(fname):
  print(fname + " Sharma")

In [8]:
my_function("Pooja")
my_function("Abhishek")
my_function("Priya")

Pooja Sharma
Abhishek Sharma
Priya Sharma

**Number of Arguments**

In [12]:
def my_function(fname, lname):
  print(fname + " " + lname)

In [14]:
my_function("Swati",  "Sharma")

Swati Sharma

In [15]:
my_function("Sharey", "Verma")

Sharey Verma

***Write a Python function to check whether a number falls within a given range***

In [16]:
def test_range(n):
  if n in range(3,9):
    print( "%s in the range"%str(n))
  else:
    print("The number us outside the given range.")

In [17]:
test_range(6)

6 in the range

In [18]:
test_range(10)

The number us outside the given range.

**Doc String**

In [19]:
def learn():
  """This function does nothing except printing"""
  print("Hello i am a Data Analyst")
  print("Python is so easy")

In [21]:
learn()

Hello i am a Data Analyst
Python is so easy

In [23]:
#A simple Python function to check
# Whether x is Even or Odd

def EvenOdd(x):
  if(x % 2 == 0):
    print("Even")
  else:
    print("Odd")

In [24]:
EvenOdd(2)

Even

In [25]:
EvenOdd(3)

Odd

**Default Arguments**

A Default argument is a parameter that assumes a default value if a value is not provided in the function call for that argument. The following example illustrate Default arguments.

In [26]:
def myfun(x, y = 50):
  print("x: ", x)
  print("y: ", y)

In [27]:
myfun(11)

x:  11
y:  50

**Write a program to calculate the electricity bill of 5 customers**

*   If 500 unit = Pay Rs 5 for each unit
*   If 700 unit = Pay Rs 10 for each unit
*   If 1000 unit = Pay Rs 15 for each unit
*   If more than 1000 unit = Pay Rs 20 for each unit

In [28]:
def electricity_bill(n):
  if n <=500:
    print("Your bill is Rs", n*5)
  elif n>500 and n<=700:
    print("Your bill is Rs", n*10)
  elif n>700 and n<=1000:
    print("Your bill is Rs", n*15)
  else:
    print("Your bill is Rs", n*20)

In [29]:
def details_bill():
  print("The last date of paying the bill is 20th April")
  print("After the deadline you need to pay Rs 1000 fine")
  print("Pay Your Bill sooon")

In [32]:
for i in range(3):
  a = input("Enter the name of a customer ")
  n = int(input("Enter the units consumed "))
  electricity_bill(n)
  details_bill()

Enter the name of a customer Asim
Enter the units consumed 50
Your bill is Rs 250
The last date of paying the bill is 20th April
After the deadline you need to pay Rs 1000 fine
Pay Your Bill sooon
Enter the name of a customer Ayaan
Enter the units consumed 600
Your bill is Rs 6000
The last date of paying the bill is 20th April
After the deadline you need to pay Rs 1000 fine
Pay Your Bill sooon
Enter the name of a customer Vamshi
Enter the units consumed 750
Your bill is Rs 11250
The last date of paying the bill is 20th April
After the deadline you need to pay Rs 1000 fine
Pay Your Bill sooon